.formRow {
  width: 100%;
  margin-bottom: 1em;
  &.formRowFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .field {
      margin-right: 1em;
    }
  }
}

.forecastBox {
  padding: 1em;
  background-color: #eeeeee;
  color: #666666;
  font-size: 0.8em;
}

.field {
  width: 100%;
}

.paper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  padding: 16px 32px 24px;
}

.title {
  margin: 0 0 2em 0;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
  text-align: right;
  div > button:nth-child(2) {
    margin-left: 1em;
  }
}
